body {
    font-family: Arial, Helvetica, sans-serif;
}
.balls {
    background-color: azure;
    border: 1px solid #45545a;
}

.powerball,
.powerball-match  {
    background-color: red;
    color: white;
}
.ball-match {
    background-color: seashell;
}

.ball-match,
.powerball-match  {
    border: 3px solid red ;
}

.playersChoice {
    background-color: #ffff00;
    overflow: auto;
}
select.balls {
    outline: none;
}
.balls option {
    width: 60px;
  font-size: 1.2em;
  padding: 10px 0;
  text-align: center;
  margin-right: 20px;
  display: inline-block;
  cursor: pointer;
  border:rgb(204, 204, 0) solid 1px;
  border-radius: 5px;
  color: rgb(204, 204, 0);
}
.balls, 
.powerball, 
.ball-match, 
.powerball-match {
    display: inline-block;
    padding: 1rem;
    border-radius: 100%;
    position: relative; 
    width: 1rem;
    height: 1rem;
    text-align: center;
    margin: 0.15rem;
}
.jackpot {
    color: red;

}

ul.results {
   margin: auto;
   list-style: none;
}