body {
    font-family: Arial, Helvetica, sans-serif;
}
.ball {
    background-color: azure;
    border: 1px solid #45545a;
}

.powerball,
.powerball-match  {
    background-color: red;
    color: white;
}
.ball-match {
    background-color: seashell;
}

.ball-match,
.powerball-match  {
    border: 3px solid red ;
}
.ball, 
.powerball, 
.ball-match, 
.powerball-match {
    display: inline-block;
    padding: 1rem;
    border-radius: 100%;
    position: relative; 
    width: 1rem;
    height: 1rem;
    text-align: center;
    margin: 0.15rem;
}
.jackpot {
    color: red;

}

.players-choice {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}
span.select-number,
span.select-powerball {  
    border-radius: 5px;
    border: 1px solid #45545a;
    width: 60px;
    margin: 1rem;
    border: none;
    overflow: hidden;
    text-align: center;
}
span.select-number {
    background-color: azure;
}
span.select-powerball {
    background-color: red;
}
span.select-number label, 
span.select-powerball label {
    width: 60px;
    font-size: 1.2em;
    padding: 10px 0;
    text-align: center;
    margin-right: 20px;
    display: inline-block;
    cursor: pointer;
}



ul.results {
   margin: auto;
   list-style: none;
}
