body {
    font-family: Arial, Helvetica, sans-serif;
}
.balls {
    background-color: azure;
    border: 1px solid #45545a;
}

.powerball,
.powerball-match  {
    background-color: red;
    color: white;
}
.ball-match {
    background-color: seashell;
}

.ball-match,
.powerball-match  {
    border: 3px solid red ;
}
.balls, 
.powerball, 
.ball-match, 
.powerball-match {
    display: inline-block;
    padding: 1rem;
    border-radius: 100%;
    position: relative; 
    width: 1rem;
    height: 1rem;
    text-align: center;
    margin: 0.15rem;
}
.jackpot {
    color: red;

}

.playersChoice {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

/* span.selectNumber input[type="checkbox"] {
    display: none;
  } */

span.selectNumber input[type="checkbox"]:checked + span {
    background-color: gold;
    color: black;
  }
span.selectNumber,
span.selectPowerball {  
    border-radius: 5px;
    border: 1px solid #45545a;
    width: 60px;
    margin: 1rem;
    border: none;
    overflow: hidden;
    text-align: center;
}
span.selectNumber {
    background-color: azure;
}
span.selectPowerball {
    background-color: red;
}

span.selectNumber::-moz-focus-inner {
    border: 0;
    
}
span.selectNumber label, 
span.selectPowerball label {
    width: 60px;
    font-size: 1.2em;
    padding: 10px 0;
    text-align: center;
    margin-right: 20px;
    display: inline-block;
    cursor: pointer;
}





ul.results {
   margin: auto;
   list-style: none;
}
