.balls {
    background-color: azure;
}

.powerball {
    background-color: red;
    color: white;
}

.ball-match {
    background-color: red;
}
.powerball-match {
    background-color: red;

}
.balls, 
.powerball, 
.ball-match, 
.powerball-match {
    display: inline-block;
    padding: 1rem;
    border-radius: 100%;
    position: relative; 
    width: 16px;
    height: 16px;
}