html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #f9f9f9;
    padding: 16px;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h6 {
    font-weight: 200;
}
h1 {
    color:#0E131F;
}
section {
    margin: 1rem auto;
    padding: 2rem;
    background-color: white;
    width: 90%;
}

button {
    background-color: #063B9D;
    color: white;
    width: 180px;
    height: 50px;
    border: none;
    font-weight: 600;
    text-align: center;
    margin: 2rem auto;
    overflow: auto;
    border-radius: 8px;
    filter: drop-shadow(2px 2px 5px rgba(30,30,30,0.25));
}

button:hover {
    transition:.3s ease;
    width: 200px;
    background-color: #042C76;
    filter: drop-shadow(2px 2px 10px rgba(30,30,30,0.25));
    border-radius: 4px;
}

.play {
    background-color: #d30505;
    height: 60px;
    font-size: larger;
}

.play:hover {
    background-color: #B30505;
}

.instructions  {
    background-color:#ebebeb;
    width: 550px;
}

.form {
    background-color: #E2E8F4;
    filter: drop-shadow(2px 2px 10px rgba(30,30,30,0.25));
}
.flex {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
}

.padding-large {
    padding: 2rem;
    width: 100%;
    margin: auto;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(10, minmax(10px, 1fr));
    column-gap: 10px;
    row-gap: 15px;
}

hr {
    margin: 4rem 0;
    border: 1px solid #0E131F;
}
.ball {
    background-color: white;
    border: 1px solid #0E131F;
}

.powerball {
    background-color: #d30505;
    color: white;
}

.ball, 
.powerball {
    display: inline-block;
    padding: 0.75rem;
    border-radius: 100%;
    position: relative; 
    width: 3rem;
    height: 3rem;
    text-align: center;
    margin: 0.15rem;
    vertical-align: middle;
    font-weight: 600;
}

.match  {
    box-shadow: 0 0 0 2px #fff, 0 0 0 6px #d30505;
    margin: 0.25rem;
}

.winner {
    padding: 1.25rem;
    width: 4rem;
    height: 4rem;
    font-size: 20px;
    vertical-align: middle;
}

.jackpot {
    color: #d30505;
}

.select-number,
.select-powerball{
    /* overflow:hidden; */
	position:relative;
	max-width: 80px;
	margin: 0.25rem;
    border-radius: 50%;
}
label {
    display:block;
	width: 60px;
    height: 60px;
	background-color:#FAFAFA;
	border-radius: 50%;
	text-align:center;
    padding: 1rem;
	font-size: 1.2rem;
    cursor: pointer;
}

.checkboxes,
.checkpower {
	right: 0px;
	top: 0px;
	width: 60px;
	height: 60px;
    border-radius: 50%;
    overflow:hidden;
    position:absolute;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	border:none;
	padding: 0;
	vertical-align: middle;
    transition:.3s ease;
    cursor: pointer;
}
.checkpower:hover+ label,
.checkboxes:hover + label {
    background-position: 0 0;
    background-color:#e3e3e3;
}

.checkboxes:checked + label {
	background-position: 0 0;
    background-color: white;
    color: #0E131F;
    font-weight: 600;
    border: 1px solid #0E131F;
    transition: all .2s;
    filter: drop-shadow(0px 0px 10px rgba(30,30,30,0.25));
}
.checkpower:checked + label {
	background-position: 0 0;
    background-color: #d30505;
    color: white;
    font-weight: 600;
    transition: all .2s;
    filter: drop-shadow(0px 0px 10px rgba(30,30,30,0.25));
}
